*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #edf2f4;
    width: 100%;
}
button{
    background-color: #203239;
    color: aliceblue;
}
.container{
    
    width: 100vw;
    background-color: #edf2f4;
    margin-bottom:100px;
    padding: 30px;
}
.blog-container{
    
    display:grid;
    width: 100vw;
    height: 100vh;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 40px;
    grid-template-columns: 80vw;
    /*grid-template-rows: 55vh 55vh;*/
    grid-gap:10vh;
    place-items: center;

}
.card{
    
    
    background-color: white;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
    color: black;
    border-radius: 15px;
    /*box-shadow: 5px 5px 10px #b3b3b3,
                -5px -5px 10px white;*/
    

}
.image{
    height:50%;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.post{
    margin: 40px 7px;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #000;

}
  