@import url(main.css);
@import url(header.css);
@import url(footer.css);
@import url(blogpost.css);



@media(min-width:900px){
    
   
    .container-blog{
    display: grid;
    width: 100%;
    margin:auto;
    grid-template-columns: 20vw 10vw;
    grid-template-rows: 20vh 100vh 1fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd main main main main main"
    "ft ft ft ft ft ft ft ft"
    }
    .one{
        grid-area: hd;
    
    }
    .two{
        grid-area: sd;
    }
    .three{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .four{
        grid-area: ft;
        
    }
    .two img{
        width:70%;
        height: 50%;
        border-radius: 360%;
        
        
    }
    /*for the homepage*/
    .blog-container{
    
        display:grid;
        width: 100vw;
        height: 100vh;
        margin-bottom: auto;
        margin-right: auto;
        padding-left: 40px;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 55vh 55vh;
        grid-gap:40px;
        place-items: center;
    
    }
    .card{
    
    
        background-color: white;
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-decoration: none;
        color: black;
        border-radius: 15px;
        /*box-shadow: 5px 5px 10px #b3b3b3,
                    -5px -5px 10px white;*/
        
    
    }
    .image{
        height:50%;
        width:100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .post{
        margin: 40px 7px;
        height: 50px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        color: #000;
    
    }
      



    

}

