*{
    margin: 0;
    padding: 0;   
}

body{
    height: 100%;
}
    
.container-blog{
    display:flex;
    flex-direction: column;
    justify-content: center;  
    grid-gap:30px;
    
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #203239;
    color: aliceblue;
    height: 20vh;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10px;
}

.two img{
    width:25%;
    border-radius: 360%; 
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 70px;
}

.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: dimgrey;
    height: 20vh; 
}
