.navigation{
    background-color: #203239;
    color: aliceblue;
    height: 40vh;
    width: 100%;
   padding-bottom: 100px;
   margin: 0;


}
.blogname{
    display: flex;
    justify-content: center;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
}
.menu{
    padding-bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.greetings{
    
    padding-top: 20px;
    padding-bottom: 30px;
}